USE [master]
GO
/****** Object:  Database [QuanLyGiongVaThucAnChanNuoiA] ******/
CREATE DATABASE [QuanLyGiongVaThucAnChanNuoiA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyGiongVaThucAnChanNuoiA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyGiongVaThucAnChanNuoiA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyGiongVaThucAnChanNuoiA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyGiongVaThucAnChanNuoiA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyGiongVaThucAnChanNuoiA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyGiongVaThucAnChanNuoiA]
GO
/****** Object:  Table [dbo].[Cap_HC]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cap_HC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Cap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](40) NOT NULL,
	[mota] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSo_HoaChatCam]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo_HoaChatCam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoSoThucAnID] [int] NOT NULL,
	[HoaChatCamID] [int] NOT NULL,
	[NgayPhatHien] [date] NULL,
	[LyDoSuDung] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSo_NguyenLieuChoPhep]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo_NguyenLieuChoPhep](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoSoThucAnID] [int] NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
	[SoLuong] [float] NULL,
	[NgayCapNhat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoThucAn]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoThucAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[LoaiCoSo] [nvarchar](50) NOT NULL,
	[ToChucCaNhanID] [int] NOT NULL,
	[ThucAnChanNuoiID] [int] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoVatNuoi]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoVatNuoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[trangthai] [bit] NULL,
	[ToChucCaNhanID] [int] NOT NULL,
	[LoaiCoSo] [nvarchar](50) NOT NULL,
	[GiongVatNuoiID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi_HC]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi_HC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Cap] [int] NOT NULL,
	[TrucThuoc] [int] NULL,
	[Cap_HC_ID] [int] NOT NULL,
	[MaBuuDien] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiayChungNhan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiayChungNhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoSoThucAnID] [int] NOT NULL,
	[SoGiayChungNhan] [nvarchar](50) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[NgayHetHan] [date] NULL,
	[NoiCap] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCanBaoTon]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCanBaoTon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GiongID] [int] NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[LyDo] [nvarchar](200) NULL,
	[NgayBaoTon] [date] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongVatNuoi]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongVatNuoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenGiong] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
	[Loai] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaChatCam]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaChatCam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHoaChat] [nvarchar](100) NOT NULL,
	[LyDoCam] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_truy_cap]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_truy_cap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[mota] [nvarchar](50) NULL,
	[IP_address] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTacDong]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTacDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[HoatDong] [nvarchar](200) NOT NULL,
	[BangLienQuan] [nvarchar](100) NULL,
	[KhoaChinh] [nvarchar](50) NULL,
	[MoTaThem] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHoatDong]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHoatDong](
	[ID] [int] NOT NULL,
	[TenHoatDong] [nvarchar](50) NOT NULL,
	[mota] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] NOT NULL,
	[TenMenu] [nvarchar](100) NOT NULL,
	[LienKet] [nvarchar](200) NULL,
	[MenuChaID] [int] NULL,
	[CapDo] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](40) NOT NULL,
	[TenDN] [nvarchar](40) NOT NULL,
	[MatKhau] [nvarchar](30) NULL,
	[email] [nvarchar](100) NULL,
	[trang_thai] [bit] NULL,
	[ChucVu_ID] [int] NULL,
	[DonVi_HC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguonGen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguonGen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNguonGen] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuChoPhep]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuChoPhep](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[mota] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_quyen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_quyen](
	[MaQuyen] [nvarchar](20) NOT NULL,
	[ten_quyen] [nvarchar](30) NULL,
	[mota] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_quyen_nguoi_dung]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_quyen_nguoi_dung](
	[NguoiDungID] [int] NOT NULL,
	[ma_quyen] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC,
	[ma_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_quyen_nhom]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_quyen_nhom](
	[NhomID] [int] NOT NULL,
	[ma_quyen] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhomID] ASC,
	[ma_quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVienNhom]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVienNhom](
	[NguoiDungID] [int] NOT NULL,
	[NhomID] [int] NOT NULL,
	[LaTruongNhom] [bit] NULL,
	[NgayThamGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC,
	[NhomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucAnChanNuoi]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucAnChanNuoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenThucAn] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[LoaiThucAn] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToChucCaNhan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToChucCaNhan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[LoaiHoatDong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToChucNguonGen]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToChucNguonGen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ToChucCaNhanID] [int] NOT NULL,
	[NguonGenID] [int] NOT NULL,
	[KhuVuc] [nvarchar](40) NULL,
	[NgayThuThap] [datetime] NULL,
	[HoatDong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cap_HC] ON 

INSERT [dbo].[Cap_HC] ([ID], [Ten], [Cap]) VALUES (1, N'Thành phố', 1)
INSERT [dbo].[Cap_HC] ([ID], [Ten], [Cap]) VALUES (2, N'Huyện', 2)
INSERT [dbo].[Cap_HC] ([ID], [Ten], [Cap]) VALUES (3, N'Xã', 3)
SET IDENTITY_INSERT [dbo].[Cap_HC] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [mota]) VALUES (1, N'Quản trị viên', N'Quản lý hệ thống')
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [mota]) VALUES (2, N'Chuyên viên', N'Nhân viên kỹ thuật')
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [mota]) VALUES (3, N'Truởng phòng', N'Truởng bộ phận quản lý giống')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSo_HoaChatCam] ON 

INSERT [dbo].[CoSo_HoaChatCam] ([ID], [CoSoThucAnID], [HoaChatCamID], [NgayPhatHien], [LyDoSuDung]) VALUES (1, 1, 1, CAST(N'2024-06-01' AS Date), N'Sử dụng trái phép trong sản xuất')
INSERT [dbo].[CoSo_HoaChatCam] ([ID], [CoSoThucAnID], [HoaChatCamID], [NgayPhatHien], [LyDoSuDung]) VALUES (2, 2, 2, CAST(N'2024-06-02' AS Date), N'Sử dụng để kích thích tăng trưởng')
INSERT [dbo].[CoSo_HoaChatCam] ([ID], [CoSoThucAnID], [HoaChatCamID], [NgayPhatHien], [LyDoSuDung]) VALUES (3, 3, 3, CAST(N'2024-06-03' AS Date), N'Pha trộn vào thức ăn chăn nuôi')
SET IDENTITY_INSERT [dbo].[CoSo_HoaChatCam] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSo_NguyenLieuChoPhep] ON 

INSERT [dbo].[CoSo_NguyenLieuChoPhep] ([ID], [CoSoThucAnID], [NguyenLieuID], [SoLuong], [NgayCapNhat]) VALUES (1, 1, 1, 1000, CAST(N'2024-07-01' AS Date))
INSERT [dbo].[CoSo_NguyenLieuChoPhep] ([ID], [CoSoThucAnID], [NguyenLieuID], [SoLuong], [NgayCapNhat]) VALUES (2, 2, 2, 2000, CAST(N'2024-07-02' AS Date))
INSERT [dbo].[CoSo_NguyenLieuChoPhep] ([ID], [CoSoThucAnID], [NguyenLieuID], [SoLuong], [NgayCapNhat]) VALUES (3, 3, 3, 3000, CAST(N'2024-07-03' AS Date))
SET IDENTITY_INSERT [dbo].[CoSo_NguyenLieuChoPhep] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoThucAn] ON 

INSERT [dbo].[CoSoThucAn] ([ID], [TenCoSo], [DiaChi], [LoaiCoSo], [ToChucCaNhanID], [ThucAnChanNuoiID], [NgayCapNhat]) VALUES (1, N'Công ty A', N'Quận Hai Bà Trưng, Hà Nội', N'Sản xuất', 1, 5, CAST(N'2024-12-16T08:18:54.993' AS DateTime))
INSERT [dbo].[CoSoThucAn] ([ID], [TenCoSo], [DiaChi], [LoaiCoSo], [ToChucCaNhanID], [ThucAnChanNuoiID], [NgayCapNhat]) VALUES (2, N'Công ty B', N'Quận Ba Đình, Hà Nội', N'Khảo nghiệm', 2, 2, CAST(N'2024-12-16T08:18:54.993' AS DateTime))
INSERT [dbo].[CoSoThucAn] ([ID], [TenCoSo], [DiaChi], [LoaiCoSo], [ToChucCaNhanID], [ThucAnChanNuoiID], [NgayCapNhat]) VALUES (3, N'Công ty C', N'Quận 1, TP.HCM', N'Sản xuất', 3, 3, CAST(N'2024-12-16T08:18:54.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[CoSoThucAn] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoVatNuoi] ON 

INSERT [dbo].[CoSoVatNuoi] ([ID], [TenCoSo], [DiaChi], [trangthai], [ToChucCaNhanID], [LoaiCoSo], [GiongVatNuoiID]) VALUES (1, N'Cơ sở chăn nuôi A', N'Huyện Đông Anh, Hà Nội', 1, 1, N'Khảo nghiệm', 1)
INSERT [dbo].[CoSoVatNuoi] ([ID], [TenCoSo], [DiaChi], [trangthai], [ToChucCaNhanID], [LoaiCoSo], [GiongVatNuoiID]) VALUES (2, N'Cơ sở chăn nuôi B', N'Huyện Sóc Sơn, Hà Nội', 1, 2, N'Bảo tồn', 2)
INSERT [dbo].[CoSoVatNuoi] ([ID], [TenCoSo], [DiaChi], [trangthai], [ToChucCaNhanID], [LoaiCoSo], [GiongVatNuoiID]) VALUES (3, N'Cơ sở chăn nuôi C', N'Quận 9, TP.HCM', 1, 3, N'Sản xuất giống', 3)
SET IDENTITY_INSERT [dbo].[CoSoVatNuoi] OFF
GO
SET IDENTITY_INSERT [dbo].[DonVi_HC] ON 

INSERT [dbo].[DonVi_HC] ([ID], [Ten], [Cap], [TrucThuoc], [Cap_HC_ID], [MaBuuDien]) VALUES (1, N'TP. Hà Nội', 1, NULL, 1, NULL)
INSERT [dbo].[DonVi_HC] ([ID], [Ten], [Cap], [TrucThuoc], [Cap_HC_ID], [MaBuuDien]) VALUES (2, N'Huyện Đông Anh', 2, 1, 2, NULL)
INSERT [dbo].[DonVi_HC] ([ID], [Ten], [Cap], [TrucThuoc], [Cap_HC_ID], [MaBuuDien]) VALUES (3, N'Xã Kim Chung', 3, 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[DonVi_HC] OFF
GO
SET IDENTITY_INSERT [dbo].[GiayChungNhan] ON 

INSERT [dbo].[GiayChungNhan] ([ID], [CoSoThucAnID], [SoGiayChungNhan], [NgayCap], [NgayHetHan], [NoiCap], [MoTa]) VALUES (1, 1, N'GCN001', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date), N'Cục chăn nuôi', N'Giấy chứng nhận tiêu chuẩn')
INSERT [dbo].[GiayChungNhan] ([ID], [CoSoThucAnID], [SoGiayChungNhan], [NgayCap], [NgayHetHan], [NoiCap], [MoTa]) VALUES (2, 2, N'GCN002', CAST(N'2024-02-01' AS Date), CAST(N'2025-02-01' AS Date), N'Cục chăn nuôi', N'Giấy chứng nhận tiêu chuẩn')
INSERT [dbo].[GiayChungNhan] ([ID], [CoSoThucAnID], [SoGiayChungNhan], [NgayCap], [NgayHetHan], [NoiCap], [MoTa]) VALUES (3, 3, N'GCN003', CAST(N'2024-03-01' AS Date), CAST(N'2025-03-01' AS Date), N'Cục chăn nuôi', N'Giấy chứng nhận tiêu chuẩn')
SET IDENTITY_INSERT [dbo].[GiayChungNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[GiongCanBaoTon] ON 

INSERT [dbo].[GiongCanBaoTon] ([ID], [GiongID], [Loai], [LyDo], [NgayBaoTon], [TrangThai]) VALUES (1, 1, N'Bảo tồn', N'Nguy cơ tuyệt chủng', CAST(N'2024-12-01' AS Date), 1)
INSERT [dbo].[GiongCanBaoTon] ([ID], [GiongID], [Loai], [LyDo], [NgayBaoTon], [TrangThai]) VALUES (2, 2, N'Bảo tồn', N'Duy trì nguồn gen quý', CAST(N'2024-12-12' AS Date), 0)
INSERT [dbo].[GiongCanBaoTon] ([ID], [GiongID], [Loai], [LyDo], [NgayBaoTon], [TrangThai]) VALUES (3, 3, N'Cấm xuất khẩu', N'Bảo vệ tài sản quốc gia', CAST(N'2024-12-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[GiongCanBaoTon] OFF
GO
SET IDENTITY_INSERT [dbo].[GiongVatNuoi] ON 

INSERT [dbo].[GiongVatNuoi] ([ID], [TenGiong], [MoTa], [Loai]) VALUES (1, N'Giống bò sữa Hà Lan', N'Năng suất sữa cao', N'Bò')
INSERT [dbo].[GiongVatNuoi] ([ID], [TenGiong], [MoTa], [Loai]) VALUES (2, N'Giống lợn rừng', N'Kháng bệnh tốt', N'Lợn')
INSERT [dbo].[GiongVatNuoi] ([ID], [TenGiong], [MoTa], [Loai]) VALUES (3, N'Giống gà Đông Tảo', N'Chân to, thịt ngon', N'Gà')
SET IDENTITY_INSERT [dbo].[GiongVatNuoi] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaChatCam] ON 

INSERT [dbo].[HoaChatCam] ([ID], [TenHoaChat], [LyDoCam]) VALUES (1, N'Ractopamine', N'Tác động tiêu cực đến sức khỏe người dùng')
INSERT [dbo].[HoaChatCam] ([ID], [TenHoaChat], [LyDoCam]) VALUES (2, N'Clenbuterol', N'Gây nguy hiểm cho sức khỏe')
INSERT [dbo].[HoaChatCam] ([ID], [TenHoaChat], [LyDoCam]) VALUES (3, N'Malathion', N'Chất độc hại cho vật nuôi')
SET IDENTITY_INSERT [dbo].[HoaChatCam] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_su_truy_cap] ON 

INSERT [dbo].[lich_su_truy_cap] ([Id], [NguoiDungID], [ThoiGian], [mota], [IP_address]) VALUES (37, 1, CAST(N'2024-12-18T21:02:40.603' AS DateTime), N'Đăng nhập', N'005056C00001')
INSERT [dbo].[lich_su_truy_cap] ([Id], [NguoiDungID], [ThoiGian], [mota], [IP_address]) VALUES (38, 1, CAST(N'2024-12-18T21:03:02.530' AS DateTime), N'Đăng nhập', N'005056C00001')
INSERT [dbo].[lich_su_truy_cap] ([Id], [NguoiDungID], [ThoiGian], [mota], [IP_address]) VALUES (39, 1, CAST(N'2024-12-18T21:05:37.077' AS DateTime), N'Đăng nhập', N'005056C00001')
SET IDENTITY_INSERT [dbo].[lich_su_truy_cap] OFF
GO
INSERT [dbo].[LoaiHoatDong] ([ID], [TenHoatDong], [mota]) VALUES (1, N'Sản xuất con giống vật nuôi', NULL)
INSERT [dbo].[LoaiHoatDong] ([ID], [TenHoatDong], [mota]) VALUES (2, N'Sản xuất tinh, phôi, ấu trùng', NULL)
INSERT [dbo].[LoaiHoatDong] ([ID], [TenHoatDong], [mota]) VALUES (3, N'Ấp trứng', NULL)
GO
INSERT [dbo].[Menu] ([ID], [TenMenu], [LienKet], [MenuChaID], [CapDo], [TrangThai]) VALUES (1, N'Trang chủ', N'/home', NULL, 1, 1)
INSERT [dbo].[Menu] ([ID], [TenMenu], [LienKet], [MenuChaID], [CapDo], [TrangThai]) VALUES (2, N'Quản lý người dùng', N'/user-management', 1, 2, 1)
INSERT [dbo].[Menu] ([ID], [TenMenu], [LienKet], [MenuChaID], [CapDo], [TrangThai]) VALUES (3, N'Quản lý chức vụ', N'/role-management', 1, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [HoTen], [TenDN], [MatKhau], [email], [trang_thai], [ChucVu_ID], [DonVi_HC_ID]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana', N'1234', N'nguyenvana@gmail.com', 1, 1, 1)
INSERT [dbo].[NguoiDung] ([ID], [HoTen], [TenDN], [MatKhau], [email], [trang_thai], [ChucVu_ID], [DonVi_HC_ID]) VALUES (2, N'Lê Thị B', N'lethib', N'123456', N'lethib@gmail.com', 1, 5, 1)
INSERT [dbo].[NguoiDung] ([ID], [HoTen], [TenDN], [MatKhau], [email], [trang_thai], [ChucVu_ID], [DonVi_HC_ID]) VALUES (3, N'Phạm Văn C', N'phamvanc', N'123456', N'phamvanc@gmail.com', 0, 3, 2)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NguonGen] ON 

INSERT [dbo].[NguonGen] ([ID], [TenNguonGen], [MoTa]) VALUES (1, N'Nguồn gen bò sữa', N'Bò sữa năng suất cao')
INSERT [dbo].[NguonGen] ([ID], [TenNguonGen], [MoTa]) VALUES (2, N'Nguồn gen lợn rừng', N'Lợn rừng kháng bệnh')
INSERT [dbo].[NguonGen] ([ID], [TenNguonGen], [MoTa]) VALUES (3, N'Nguồn gen gà Đông Tảo', N'Gà thịt ngon, chất lượng cao')
SET IDENTITY_INSERT [dbo].[NguonGen] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieuChoPhep] ON 

INSERT [dbo].[NguyenLieuChoPhep] ([ID], [TenNguyenLieu], [MoTa]) VALUES (1, N'Bột ngô', N'Nguyên liệu tự nhiên')
INSERT [dbo].[NguyenLieuChoPhep] ([ID], [TenNguyenLieu], [MoTa]) VALUES (2, N'Bột sắn', N'Nguyên liệu tự nhiên')
INSERT [dbo].[NguyenLieuChoPhep] ([ID], [TenNguyenLieu], [MoTa]) VALUES (3, N'Cám gạo', N'Nguyên liệu tự nhiên')
SET IDENTITY_INSERT [dbo].[NguyenLieuChoPhep] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhom] ON 

INSERT [dbo].[Nhom] ([ID], [Ten], [mota], [NgayTao]) VALUES (1, N'Quản lý hệ thống', N'Nhóm quản trị', CAST(N'2024-12-01T08:00:00.000' AS DateTime))
INSERT [dbo].[Nhom] ([ID], [Ten], [mota], [NgayTao]) VALUES (2, N'Nhân viên kỹ thuật', N'Nhóm kỹ thuật', CAST(N'2024-12-01T09:00:00.000' AS DateTime))
INSERT [dbo].[Nhom] ([ID], [Ten], [mota], [NgayTao]) VALUES (3, N'Quản lý giống', N'Nhóm giống vật nuôi', CAST(N'2024-12-01T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Nhom] OFF
GO
INSERT [dbo].[phan_quyen] ([MaQuyen], [ten_quyen], [mota]) VALUES (N'PQ01', N'Truy cập hệ thống', N'Quyền truy cập cơ bản')
INSERT [dbo].[phan_quyen] ([MaQuyen], [ten_quyen], [mota]) VALUES (N'PQ02', N'Quản lý dữ liệu', N'Quyền cập nhật dữ liệu')
INSERT [dbo].[phan_quyen] ([MaQuyen], [ten_quyen], [mota]) VALUES (N'PQ03', N'Báo cáo thống kê', N'Quyền xuất báo cáo')
GO
INSERT [dbo].[phan_quyen_nguoi_dung] ([NguoiDungID], [ma_quyen]) VALUES (1, N'PQ04')
INSERT [dbo].[phan_quyen_nguoi_dung] ([NguoiDungID], [ma_quyen]) VALUES (1, N'PQ05')
INSERT [dbo].[phan_quyen_nguoi_dung] ([NguoiDungID], [ma_quyen]) VALUES (1, N'Q03')
GO
INSERT [dbo].[phan_quyen_nhom] ([NhomID], [ma_quyen]) VALUES (1, N'PQ01')
INSERT [dbo].[phan_quyen_nhom] ([NhomID], [ma_quyen]) VALUES (1, N'PQ05')
INSERT [dbo].[phan_quyen_nhom] ([NhomID], [ma_quyen]) VALUES (1, N'Q01')
GO
INSERT [dbo].[ThanhVienNhom] ([NguoiDungID], [NhomID], [LaTruongNhom], [NgayThamGia]) VALUES (1, 3, NULL, CAST(N'2024-12-12T04:00:20.370' AS DateTime))
INSERT [dbo].[ThanhVienNhom] ([NguoiDungID], [NhomID], [LaTruongNhom], [NgayThamGia]) VALUES (1, 5, NULL, CAST(N'2024-12-18T20:38:43.817' AS DateTime))
INSERT [dbo].[ThanhVienNhom] ([NguoiDungID], [NhomID], [LaTruongNhom], [NgayThamGia]) VALUES (2, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ThucAnChanNuoi] ON 

INSERT [dbo].[ThucAnChanNuoi] ([ID], [TenThucAn], [MoTa], [LoaiThucAn]) VALUES (1, N'Cám con cò', N'Dùng cho lợn', N'Thương mại')
INSERT [dbo].[ThucAnChanNuoi] ([ID], [TenThucAn], [MoTa], [LoaiThucAn]) VALUES (2, N'Cỏ voi', N'Thức ăn cho bò', N'Tự nhiên')
INSERT [dbo].[ThucAnChanNuoi] ([ID], [TenThucAn], [MoTa], [LoaiThucAn]) VALUES (3, N'Ngô hạt', N'Thức ăn cho gia cầm', N'Khảo nghiệm')
SET IDENTITY_INSERT [dbo].[ThucAnChanNuoi] OFF
GO
SET IDENTITY_INSERT [dbo].[ToChucCaNhan] ON 

INSERT [dbo].[ToChucCaNhan] ([ID], [Ten], [DiaChi], [SoDienThoai], [Email], [LoaiHinh], [LoaiHoatDong]) VALUES (1, N'Công ty ABC', N'Số 1, phố X, Hà Nội', N'0123456782', N'abc@gmail.com', N'Tổ chức', N'Sản xuất con giống vật nuôi')
INSERT [dbo].[ToChucCaNhan] ([ID], [Ten], [DiaChi], [SoDienThoai], [Email], [LoaiHinh], [LoaiHoatDong]) VALUES (2, N'Tổ chức DEF', N'Số 2, phố Y, Hà Nội', N'0987654321', N'def@gmail.com', N'Tổ chức', N'Sản xuất tinh, phôi, ấu trùng')
INSERT [dbo].[ToChucCaNhan] ([ID], [Ten], [DiaChi], [SoDienThoai], [Email], [LoaiHinh], [LoaiHoatDong]) VALUES (3, N'Công ty GHI', N'Số 3, phố Z, TP.HCM', N'0912345678', N'ghi@gmail.com', N'Tổ chức', N'Ấp trứng')
SET IDENTITY_INSERT [dbo].[ToChucCaNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[ToChucNguonGen] ON 

INSERT [dbo].[ToChucNguonGen] ([ID], [ToChucCaNhanID], [NguonGenID], [KhuVuc], [NgayThuThap], [HoatDong]) VALUES (1, 1, 1, N'Khu vực Hà Nội', CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Thu thập')
INSERT [dbo].[ToChucNguonGen] ([ID], [ToChucCaNhanID], [NguonGenID], [KhuVuc], [NgayThuThap], [HoatDong]) VALUES (2, 2, 2, N'Khu vực TP.HCM', CAST(N'2024-02-01T00:00:00.000' AS DateTime), N'Bảo tồn')
INSERT [dbo].[ToChucNguonGen] ([ID], [ToChucCaNhanID], [NguonGenID], [KhuVuc], [NgayThuThap], [HoatDong]) VALUES (3, 3, 3, N'Khu vực Đà Nẵng', CAST(N'2024-03-01T00:00:00.000' AS DateTime), N'Khai thác')
SET IDENTITY_INSERT [dbo].[ToChucNguonGen] OFF
GO
ALTER TABLE [dbo].[GiayChungNhan] ADD  DEFAULT (N'Cục chăn nuôi') FOR [NoiCap]
GO
ALTER TABLE [dbo].[LichSuTacDong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ToChucCaNhan] ADD  DEFAULT (N'Tổ chức') FOR [LoaiHinh]
GO
ALTER TABLE [dbo].[CoSo_HoaChatCam]  WITH CHECK ADD FOREIGN KEY([CoSoThucAnID])
REFERENCES [dbo].[CoSoThucAn] ([ID])
GO
ALTER TABLE [dbo].[CoSo_HoaChatCam]  WITH CHECK ADD FOREIGN KEY([HoaChatCamID])
REFERENCES [dbo].[HoaChatCam] ([ID])
GO
ALTER TABLE [dbo].[CoSo_NguyenLieuChoPhep]  WITH CHECK ADD FOREIGN KEY([CoSoThucAnID])
REFERENCES [dbo].[CoSoThucAn] ([ID])
GO
ALTER TABLE [dbo].[CoSo_NguyenLieuChoPhep]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[NguyenLieuChoPhep] ([ID])
GO
ALTER TABLE [dbo].[CoSoThucAn]  WITH CHECK ADD FOREIGN KEY([ThucAnChanNuoiID])
REFERENCES [dbo].[ThucAnChanNuoi] ([ID])
GO
ALTER TABLE [dbo].[CoSoThucAn]  WITH CHECK ADD FOREIGN KEY([ToChucCaNhanID])
REFERENCES [dbo].[ToChucCaNhan] ([ID])
GO
ALTER TABLE [dbo].[CoSoVatNuoi]  WITH CHECK ADD FOREIGN KEY([GiongVatNuoiID])
REFERENCES [dbo].[GiongVatNuoi] ([ID])
GO
ALTER TABLE [dbo].[CoSoVatNuoi]  WITH CHECK ADD FOREIGN KEY([ToChucCaNhanID])
REFERENCES [dbo].[ToChucCaNhan] ([ID])
GO
ALTER TABLE [dbo].[DonVi_HC]  WITH CHECK ADD FOREIGN KEY([Cap_HC_ID])
REFERENCES [dbo].[Cap_HC] ([ID])
GO
ALTER TABLE [dbo].[DonVi_HC]  WITH CHECK ADD FOREIGN KEY([TrucThuoc])
REFERENCES [dbo].[DonVi_HC] ([ID])
GO
ALTER TABLE [dbo].[GiayChungNhan]  WITH CHECK ADD FOREIGN KEY([CoSoThucAnID])
REFERENCES [dbo].[CoSoThucAn] ([ID])
GO
ALTER TABLE [dbo].[GiongCanBaoTon]  WITH CHECK ADD FOREIGN KEY([GiongID])
REFERENCES [dbo].[GiongVatNuoi] ([ID])
GO
ALTER TABLE [dbo].[lich_su_truy_cap]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[LichSuTacDong]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([MenuChaID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([ChucVu_ID])
REFERENCES [dbo].[ChucVu] ([ID])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([DonVi_HC_ID])
REFERENCES [dbo].[DonVi_HC] ([ID])
GO
ALTER TABLE [dbo].[phan_quyen_nguoi_dung]  WITH CHECK ADD FOREIGN KEY([ma_quyen])
REFERENCES [dbo].[phan_quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[phan_quyen_nguoi_dung]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[phan_quyen_nhom]  WITH CHECK ADD FOREIGN KEY([ma_quyen])
REFERENCES [dbo].[phan_quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[phan_quyen_nhom]  WITH CHECK ADD FOREIGN KEY([NhomID])
REFERENCES [dbo].[Nhom] ([ID])
GO
ALTER TABLE [dbo].[ThanhVienNhom]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[ThanhVienNhom]  WITH CHECK ADD FOREIGN KEY([NhomID])
REFERENCES [dbo].[Nhom] ([ID])
GO
ALTER TABLE [dbo].[ToChucNguonGen]  WITH CHECK ADD FOREIGN KEY([NguonGenID])
REFERENCES [dbo].[NguonGen] ([ID])
GO
ALTER TABLE [dbo].[ToChucNguonGen]  WITH CHECK ADD FOREIGN KEY([ToChucCaNhanID])
REFERENCES [dbo].[ToChucCaNhan] ([ID])
GO
USE [master]
GO
